<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section id="section">
        <div class="section-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-25">
                        <img src="../../Images/sunburn2.avif" alt="">
                        <img src="../../Images/tickt.jpg" class="tckt-1" alt="">
                    </div>
                    <div class="col-25">
                        <img src="../../Images/sunburn2.avif" alt="">
                        <img src="../../Images/tickt.jpg" class="tckt-2" alt="">

                    </div>
                    <div class="col-25">
                        <img src="../../Images/sunburn2.avif" alt="">
                        <img src="../../Images/tickt.jpg" class="tckt-3" alt="">

                        <!-- <h2>hello col-25</h2> -->
                    </div>
                    <div class="col-25">
                        <img src="../../Images/sunburn2.avif" alt="">

                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</body>
</html>